:root{
    --space: 10px;
    --primary-color: #0039a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--primary-color);
    padding: var(--space);
    display: flex;
    justify-content: center;
    gap: var(--space);
    width: 100%;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}


h1{
    color: var(--primary-color);
}
img{
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: var(--space);
}

body{
    display: grid;
    gap: var(--space);
    grid-template-columns: repeat(12 , 1fr);
}

header{
    display: flex;
    grid-column: 1 / -1;
    width: 100%;
}

main{
    grid-column: 1 / 9;
    padding:  var(--space);
    margin:  var(--space);
    width: calc(100% - 4*var(--space));
    min-height: 70vh;
}
aside{
    width: calc(100% - 4*var(--space));
    margin: var(--space);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: var(--space);
    color: #333;
    text-align: center;
    grid-column: 9 / -1;
    position: relative;
}

footer{
    grid-column: 1 / -1;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}


aside img{
    width: 100%;
    height: auto;
    margin-bottom: calc(var(--space) * 2) ;
}
main img{
    width: 150px;
    height: auto;
    float: right;
}
p{
    padding: 0;
}

/*Class selectors*/
.box{
    margin: var(--space);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: calc(var(--space) * 2);
    /*background-color: #ddd;*/
    color: #000;
}
aside{
    
    text-align: center;
}
aside h2{
    margin: calc(var(--space) * 1.5) ;
    padding: calc(var(--space) * 0.5) ;
    position: absolute;
    background-color: #ffffff99;
    border-radius: calc(var(--space) * 1)  ;
}