:root{
    --space: 1rem;
    --primary-color: #0039a6;
    --slate: #cbd5e1;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color) ;
    margin-bottom: var(--space);
}
img{
    width: 150px;
    height: auto;
    border: 1px solid var(--primary-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 0;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
header{
    display: flex;
    grid-column: 1 / -1;
    width: 100%;
}

nav{
    background-color: var(--primary-color);
    padding: var(--space);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--space);
    width: 100%;
}
nav a{
    display: block;
    padding: calc(var(--space) * 0.5);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}
nav a:hover{
    text-decoration: underline;
}

.grid {
    display: grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    padding:  var(--space);
    margin:  var(--space);
}
main img{
    width: 150px;
    height: auto;
    float: right;
}

main p{
    margin-bottom: var(--space);
}

aside{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20rem;
    position: relative;
    margin: var(--space);
    padding: var(--space);
}
aside img{
    width: 100%;
    height: auto;
    margin-bottom: calc(var(--space) * 2) ;
}
footer{
    grid-column: 1 / -1;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/*Class selectors*/
.box{
    padding: calc(var(--space));
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--slate) ;
    color: #000;
}
aside h2{
    margin: calc(var(--space) * 0.5) ;
    padding: calc(var(--space) * 0.5) ;
    position: absolute;
    background-color: #ffffff99;
    border-radius: calc(var(--space) * 1)  ;
}